.hero {
    background-color: var(--stroke-color);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    padding: 1rem;
    align-items: center;

    & figure {
        margin-bottom: 1rem;
    }
}

@media (width >= 80em) {
  .hero {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    padding-inline: 2rem;

    & .desktop-only {
        display: initial;
    }

    & .four-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

  }
}