#more-read {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--stroke-color);
    padding-inline: 1rem;
    
    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & figure {
        margin-bottom: 2rem;
    }

    & div span {
        padding-right: .5rem;
    }
}

@media (width >= 80em) {
    #more-read {
        padding-inline: 2rem;
        & .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
        }
    }

    
}