footer {
    color: var(--text-color-secondary);
    font: var(--paragraph-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;

    & .legal {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

@media(width >= 80em){
    footer {
        padding: 1.5rem 2.5rem;
        flex-direction: row;
        justify-content: space-between;
    }
}